/* base fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.Root {
  margin: 0 auto;
  padding: 0;
}

.login-wrapper {
  height: 100%;
  margin-top: 200px;
  width: 100%;
}
/* background colors */
.bg-navy {
  background-color: #17374e;
}
.bg-dark-teal {
  background-color: #008898;
}
.bg-teal {
  background-color: #43bac3;
}
.bg-mustard {
  background-color: #ca8500;
}
.bg-lemondrop {
  background-color: #e1a31e;
}
.bg-charcoal {
  background-color: #4a4a4a;
}
.bg-light-gray {
  background-color: #dbdbdb;
}
.bg-plum {
  background-color: #490030;
}
.bg-leaf {
  background-color: #00aa00;
}
.bg-apple {
  background-color: #ec4c47;
}

/* symantic tags */
h1 {
  color: #083851;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 27px;
}

h3 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none !important;
}

/* basic copy */
.body-copy {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

.alert-copy {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.breadcrumbs {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

.breadcrumbs a {
  color: #008898;
}

/* spacers */

.mt-0 {
  margin-top: 0 !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-7 {
  padding-top: 7px !important;
}

.p-0 {
  padding: 0 !important;
}
.pl-25 {
  padding-left: 25%;
}

.pl-20 {
  padding-left: 20%;
}

.pl-40 {
  padding-left: 40% !important;
}
/* Layout Utilities */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.error-alert {
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  border-left: 4px solid #ec4c47;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  height: 35px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Overrides Material-ui */
.MuiBox-root {
  padding: unset !important;
}

.MuiTabs-indicator {
  height: 3px !important;
}

.MuiCheckbox-colorPrimary.Mui-checked,
.MuiCheckbox-root {
  color: #008898 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.MuiSvgIcon-root {
  color: #008898;
}

.MuiSelect-select:focus {
  background-color: #ffffff !important;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: #eff7f8 !important;
  font-weight: bold;
}

.MuiListItem-button:hover {
  text-decoration: none;
  background-color: #eff7f8 !important;
  font-weight: bold;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-top: 10px;
  max-height: 300px;
}

/* temp fix for annoyinf text cursors on select dropdowns */
.MuiInputBase-root {
  cursor: pointer !important;
}

.MuiInputBase-root fieldset {
  border: 0.5px solid #9b9b9b !important;
}

@media (min-width: 768px) {
  .invoices {
    flex: 0 0 21.1%;
    max-width: 21.1% !important;
  }
}

.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-top: 24px;
}

.MuiPickersDay-current {
  color: #000000 !important;
}

.MuiPickersDay-daySelected {
  color: #ffffff !important;
}
